@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-textPrimary antialiased;
  }
}

/* Reusable components */
@layer components {
  .input {
    @apply w-full
      bg-background
      border border-borderDark
      rounded-lg
      px-4 py-2
      text-textPrimary
      placeholder:text-textSecondary
      focus:outline-none
      focus:border-primary;
  }
}
